@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    font-family: "Poppins";
    background-color: #3aafa9;
    color: #15252a;
    scroll-behavior: smooth;
}

nav li>* {
    color: #feffff;
    font-weight: 100;
    font-size: 1.1rem;
    transition: all .3s;
}

nav li>*:hover {
    color: #def2f1;
}

.social-icons>* {
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.social-icons>*:hover {
    transform: scale(1.1);
    color: #0c5454;
}